body {
  background-color: #eee;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #eee;
  padding: 30px;
}

.button-wrapper {
  min-height: 75px;
  display: flex;
  align-items: flex-end;
}

.search-container {
  margin-bottom: 30px;
}

.search-container h1 {
  margin-bottom: 10px;
}